<style>
    a {
        margin-top: 5px;
            }

    .row {
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <a href="/home/addCandidate" class="btn btn-info btn-block">Add Candidate</a><br />
        <a href="/home/viewPending"  class="btn btn-info btn-block">View Pending</a><br />
        <a href="/home/viewConfirmed"  class="btn btn-info btn-block">View Confirmed</a><br />
        <a href="/home/viewDeclined"  class="btn btn-info btn-block">View Declined</a><br />
    </div>
</div>